*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    padding: 0;
    margin: 0;
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
    
}
header{
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #111; */
    background-color: white;
    box-shadow: 0px 15px 10px -15px #111;
    z-index: 1000;
    color: black;
  }
  header .logo{
    /* color: #fff; */
    color:   #26b082;
    
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
  }
  header ul{
    position: relative;
    display: flex;
    
  }
  header ul li{
    position: relative;
    list-style: none;
  }
  header ul li a{
    position: relative;
    padding: 5px 15px;
    color: #111;
    /* color: #fff; */
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
  }
  header ul li a.active,
  header ul li a:hover{
    border-radius: 8px;
    background: #47cea1;
    box-shadow: 0px 15px 10px -15px #111;
  
  }
  .toggle{
    display: none;
  }
  @media(max-width:992px)
  {
    header ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 50px 100px;
        text-align: center;
        overflow: auto;
        transition: 0.5s;
        background: #111;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-100%);
    }
    header.active ul{
        opacity: 1;
        top: 80px;
        transform: translateY(0);
    }
    header ul li a{
        margin: 5px 0;
        font-size: 24px;
    }
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 10px 0 #fff;
        transition: 0.5s;
    }
    .toggle::after{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        transition: 0.5s;
    }
    header.active .toggle:before{
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 #fff;
    }
    header.active .toggle:after{
        top: 14px;
        transform: rotate(-45deg);
    }
  }

.head1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2px auto;
    position: relative;
    height: 8rem;
    /* margin-top: 2rem; */
    top: 5rem;
}

.title{
    font-family: sans-serif;
    color: #dc2d5e;
    text-align: center;
}
.tabContainer{
    margin-top: 4rem;
    width: 100%;
    height: 350px;
}
.tabContainer .buttonContainer{
    display: flex;
    justify-content: center;
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: #eee;
    /* border-bottom: 4px solid red; */
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #eee;
}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}
.tabContainer .tabPanel{
    height: 85%;
    /* background-color: gray; */
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

.border{
    border-bottom: 4px solid #26b082 !important;
    font-weight: bolder;
    color: black;
    font-size: 50px;
}

.selectbox select{
    width: 20%;
    padding: 16px 30px 16px 125px;
    border-radius: 50px;
    font: 400 22px;
    font-size: 24px;
    border: 1px solid #931dff;
    color: #931dff;
    -webkit-appearance: none;

}
.selectbox select::-ms-expand{
    display: none;
}
.selectbox option{
    position: relative;
    float: right;
    left: 20rem;
}

.selectbox select:focus{
    outline: none;
    box-shadow: 0 0 10px -1px #931dff ;
}

.selectbox .label{
    position: absolute;
    z-index: 1;
    display: inline-block;
    font: 600 12px arial;
    font-size: 14px;
    color: #750dd4;
    top: 23.3rem ;
    left: 39rem;
}

.selectbox i{
    color: #616161;
    font-size: 18px;
    position: absolute;
    top: 23.2rem;
    right: 42rem;
}

.selectbox select:focus +i{
    color: #931dff;
}